sudo: required
language: python
services:
  - rabbitmq
env:
  - DATABASE_URL=sqlite:////home/travis/db
python:
  - "3.9"
before_install:
  - sudo rabbitmq-plugins enable rabbitmq_management
  - sudo /etc/init.d/rabbitmq-server restart
install:
  - pip install -r requirements.txt
  - pip install .
script:
  - pip check
  - python test/runtests.py --use-local
addons:
  apt:
    packages:
    - rabbitmq-server
