Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
MozillaPulse==0.92
MySQL-python==1.2.5
SQLAlchemy==0.9.4
Werkzeug==0.9.4
amqp==1.4.5
anyjson==0.3.3
itsdangerous==0.24
kombu==3.0.15
pytz==2014.2
requests==2.2.1
wsgiref==0.1.2
argparse==1.2.1
