<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PulseGuardian activation</title>
</head>
<body>

    <p>
        Someone, probably you, signed-up for a <strong>Pulse</strong> consumer account with the email '{{user.email}}' and the username '{{user.username}}'.
    </p>

    <p>
        Please <a href="{{activation_link}}">validate your account</a> so we can create a <strong>Pulse</strong> consumer account for you.
    </p>


    <p>(Visit <em>{{activation_link}}</em> if the above link doesn't work.)</p>

</body>
</html>
