/* Some changes to bootstrap's styles */

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

h1, h2, h3 {
  margin-top: 10px;
}

.panel-body {
  padding: 2px 10px 10px;
}

body {
  position: relative;
}

a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none !important;
}

.row {
  margin: 0px 0px 0px -15px;
}



/* Header */
.header {
  width: 100%;
  padding: 10px;

  background: #2249B1;
  color: #FFF;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.header a {
  color: inherit;
}

.header a:hover {
  color: #B6C9FD;
  text-decoration: none;
}

.header .sitename {
  font-size: 28px;
  margin: 4px 0 -3px 8px;
  display: inline-block;
}

.header .sitename .icon {
  font-size: 20px;
}

.right-link {
  display: inline-block;
  float: right;
  margin: 3px 3px;
}

.nav-box {
  font-size: 14px;
  margin: -2px 5px;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 11px;
  border-radius: 4px;
}

.nav-box .glyphicon {
  top: 1px;
  font-size: 12px;
}

.nav-box:hover .glyphicon {
  color: #5277ff;
}

.header .username {
  font-weight: bold;
}

#error-bar {
  margin-top: 10px;
  /* Hidden by default*/
  display: none;
}

/* Profile */

.add {
  color: #000000;
}

.edit {
  cursor: pointer;
}

.delete {
  color: #e10809;
  cursor: pointer;
}

.delete:hover {
  color: #e52e38;
}

.autoreload {
    color: #30a53c;
    float: right;
    margin-top: 20px;
    position: relative;
    z-index: 99
}
.autoreload:focus {
    color: #3cba2e;
}
.autoreload.inactive {
    color: #b0bdd2;
}

/* Menu */
.menu {
  background: #2249B1;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu .menuitem {
  font-size: 15px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  color: #FFF;
}

.menu .menuitem:hover {
  color: #B6C9FD;
  text-decoration: none;
}

/* Notifications */
.notifications h3 {
    margin: 0 10px 5px 0;
    font-size: 18px;
}
.notifications ul {
    margin: 0 0 0 120px;
    padding: 0;
}
.notifications ul li {
    margin: 0 10px 3px 0;
    list-style: none;
    padding: 1px 5px;
}
.notifications form {
    margin-top: 10px;
}
.notifications .close {
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 3px;
    margin: 1px 0 0 5px;
    line-height: 90%;
    padding: 2px 2px 0px 3px;
    opacity: 1;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}
