{% extends 'base.html' %}

{% block body %}
<div class="col-md-12">
  <h3>All RabbitMQ Accounts</h3>

  <ul class="list-group rabbitmq-accounts"
      data-csrf-token="{{ csrf_token() }}">
    <table id="rabbitmq_accounts" width="100%">
      <thead>
        <tr>
          <th>RabbitMQ Account</th>
          <th>Owners</th>
          {% if g.user.admin %}
          <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for rabbitmq_account in rabbitmq_accounts %}
        <tr class="rabbitmq-account"
          data-rabbitmq-account-name="{{rabbitmq_account.username}}">
          <td>{{ rabbitmq_account.username }}</td>
          <td>{{ rabbitmq_account.owners|sort(attribute='email')|join(', ', attribute='email') }}</td>
          {% if g.user.admin %}
          <td><span class="glyphicon glyphicon-remove delete"></span></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </ul>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/pulse_users_listing.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/deletable.js"></script>
{% endblock %}
