{% extends 'base.html' %}

{% block body %}
<div class="col-md-12">
  <h3>All Pulse Users</h3>

  <ul class="list-group pulse-users">
    <table id="pulse_users" width="100%">
      <thead>
        <tr>
          <th>Pulse User</th>
          <th>Owners</th>
        </tr>
      </thead>
      <tbody>
      {% for pulse_user in pulse_users %}
        <tr>
          <td>{{ pulse_user.username }}</td>
          <td>{{ pulse_user.owners|sort(attribute='email')|join(', ', attribute='email') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </ul>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/pulse_users_listing.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}
