{% extends 'base.html' %}

{% block body %}
<div class="col-md-12">
  <h3>All RabbitMQ Accounts</h3>

  <ul class="list-group pulse-users" data-csrf-token="{{ csrf_token() }}">
    <table id="pulse_users" width="100%">
      <thead>
        <tr>
          <th>RabbitMQ Account</th>
          <th>Owners</th>
          {% if g.user.admin %}
          <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for pulse_user in pulse_users %}
        <tr class="pulse-user" data-pulse-user-name="{{pulse_user.username}}">
          <td>{{ pulse_user.username }}</td>
          <td>{{ pulse_user.owners|sort(attribute='email')|join(', ', attribute='email') }}</td>
          {% if g.user.admin %}
          <td><span class="glyphicon glyphicon-remove delete"></span></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </ul>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/pulse_users_listing.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/deletable.js"></script>
{% endblock %}
