{% extends 'base.html' %}

{% block body %}
<div class="col-md-8">
  <h2>What's Pulse?</h2>

  <p>Pulse is a RabbitMQ-based system that allows applications to react to
  various automation events.  The system is designed to allow loose
  coupling via a pub-sub event model.</p>

  <p>Because RabbitMQ isn't designed to be a publicly available service,
  PulseGuardian was built as a management tool.  It provides the ability
  to create and delete RabbitMQ accounts.  To prevent misbehaving
  applications from overloading Pulse, it also monitors queues,
  sending warnings to PulseGuardian users if queues grow too large,
  and subsequently deleting them if no action is taken.</p>

  <p>There is also a Python package,
  <a href="https://pypi.python.org/pypi/MozillaPulse">mozillapulse</a>,
  which provides classes for some often-used publishers, consumers, and
  messages so you can quickly build Pulse applications.</p>

  <p>
    <strong>
      For more information on Pulse, please visit the
      <a href="https://wiki.mozilla.org/Auto-tools/Projects/Pulse"
        target="_blank">Wiki</a>.
    </strong>
  </p>

  <h2>Technology used</h2>
  <ul>
    <li>The message broker used
      is <a href="http://www.rabbitmq.com/">RabbitMQ</a></li>
    <li>Protocol used to talk to the broker
      is <a href="http://www.amqp.org/about/what">AMQP</a></li>
    <li>Messages are in JSON</li>
    <li>For Python, the underlying library used to talk AMQP
      is <a href="http://kombu.readthedocs.org/">kombu</a></li>
  </ul>
</div>
{% endblock %}
