<div class="menu">
  <div class="container">
    <h4><a class="menuitem" href="/whats_pulse">What's Pulse?</a></h4>
    {% if session.get('userinfo') %}
        <h4><a class="menuitem" href="/profile">My RabbitMQ Accounts</a></h4>
        <h4><a class="menuitem" href="/all_pulse_users">All RabbitMQ Accounts</a></h4>
        <h4><a class="menuitem" href="/queues">Queues</a></h4>

        {% if g.user.admin %}
        <h4><a class="menuitem" href="/all_users">All Pulse Guardian Users</a></h4>
        {% endif %}
    {% endif %}
  </div>
</div>
