{% extends 'base.html' %}

{% block body %}
<div id="message_info" class="container_12">
  <div class="grid_12">


    <h3>Example Messages</h3>

<h4>Simple Bugzilla</h4>
<pre style="font-size: 75%">
{
    "payload": {
        "id": 1011714,
        "delta_ts": "2014-05-23T17:59:15"
    },
    "_meta": {
        "sent": "2014-05-23T10:59:18+01:00",
        "routing_key": "1011714",
        "serializer": "json",
        "exchange": "org.mozilla.exchange.bugzilla.simple"
    }
}
</pre>

<h4>Buildbot</h4>
<pre style="font-size: 75%">
{
    "payload": {
        "build": {
            "slave": "tst-linux64-spot-033",
            "builderName": "Ubuntu ASAN VM 12.04 x64 fx-team opt test mochitest-browser-chrome-1",
            "text": [
                "build",
                "successful",
                "slave",
                "lost"
            ],
            "number": 4,
            "currentStep": null,
            "results": 0,
            "blame": [
                "sendchange-unittest"
            ],
            "reason": "scheduler",
            "eta": null,
            "steps": [
                {
                    "statistics": {},
                    "name": "set build property",
                    "isFinished": true,
                    "text": [
                        "set props:",
                        "master"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865737.935129,
                        1400865737.935614
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 0,
                    "expectations": []
                },
                {
                    "statistics": {},
                    "name": "get_basedir",
                    "isFinished": true,
                    "text": [
                        "set props:",
                        "basedir"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865737.935935,
                        1400865738.118997
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 1,
                    "expectations": [
                        [
                            "output",
                            1523,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "download_props",
                    "isFinished": true,
                    "text": [
                        "downloading",
                        "to",
                        "buildprops.json"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865738.119289,
                        1400865738.169126
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 2,
                    "expectations": []
                },
                {
                    "statistics": {},
                    "name": "clobber_properties",
                    "isFinished": true,
                    "text": [
                        "'rm",
                        "-rf",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865738.169398,
                        1400865738.320225
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 3,
                    "expectations": [
                        [
                            "output",
                            1516,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "clobber_scripts",
                    "isFinished": true,
                    "text": [
                        "'rm",
                        "-rf",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865738.320532,
                        1400865738.585816
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 4,
                    "expectations": [
                        [
                            "output",
                            1510,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "clone_scripts",
                    "isFinished": true,
                    "text": [
                        "'hg",
                        "clone",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865738.586134,
                        1400865755.698269
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 5,
                    "expectations": [
                        [
                            "output",
                            1837,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "update_scripts",
                    "isFinished": true,
                    "text": [
                        "'hg",
                        "update",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865755.698652,
                        1400865758.086711
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 6,
                    "expectations": [
                        [
                            "output",
                            1624,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "get_script_repo_revision",
                    "isFinished": true,
                    "text": [
                        "set props:",
                        "script_repo_revision"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865758.087061,
                        1400865758.836553
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 7,
                    "expectations": [
                        [
                            "output",
                            1525,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "download",
                    "isFinished": true,
                    "text": [
                        "downloading",
                        "to",
                        "oauth.txt"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865758.836901,
                        1400865759.908122
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 8,
                    "expectations": []
                },
                {
                    "statistics": {},
                    "name": "tinderboxprint_script_revlink",
                    "isFinished": true,
                    "text": [
                        "tinderboxprint_script_revlink"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865759.908489,
                        1400865759.908941
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 9,
                    "expectations": []
                },
                {
                    "statistics": {},
                    "name": "run_script",
                    "isFinished": true,
                    "text": [
                        "'/tools/buildbot/bin/python",
                        "scripts/scripts/desktop_unittest.py",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400865759.90924,
                        1400867797.420576
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 10,
                    "expectations": [
                        [
                            "output",
                            4107894,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "set_script_properties",
                    "isFinished": true,
                    "text": [
                        "set props:",
                        "build_url"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400867797.425223,
                        1400867798.359707
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 11,
                    "expectations": [
                        [
                            "output",
                            1756,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "rm_oauth_txt",
                    "isFinished": true,
                    "text": [
                        "'rm",
                        "-f",
                        "...'"
                    ],
                    "results": [
                        0,
                        []
                    ],
                    "isStarted": true,
                    "times": [
                        1400867798.360097,
                        1400867798.402065
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 12,
                    "expectations": [
                        [
                            "output",
                            1512,
                            null
                        ]
                    ]
                },
                {
                    "statistics": {},
                    "name": "reboot",
                    "isFinished": true,
                    "text": [
                        "reboot",
                        "slave",
                        "lost"
                    ],
                    "results": [
                        0,
                        [
                            "slave",
                            "lost"
                        ]
                    ],
                    "isStarted": true,
                    "times": [
                        1400867798.402347,
                        1400867804.027886
                    ],
                    "eta": null,
                    "urls": {},
                    "step_number": 13,
                    "expectations": [
                        [
                            "output",
                            null,
                            null
                        ]
                    ]
                }
            ],
            "sourceStamp": {
                "repository": "",
                "hasPatch": false,
                "project": "",
                "branch": "fx-team-linux64-asan-opt-unittest",
                "changes": [
                    {
                        "category": null,
                        "files": [
                            {
                                "url": null,
                                "name": "http://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/fx-team-linux64-asan/1400839639/firefox-32.0a1.en-US.linux-x86_64-asan.tar.bz2"
                            },
                            {
                                "url": null,
                                "name": "http://ftp.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/fx-team-linux64-asan/1400839639/firefox-32.0a1.en-US.linux-x86_64-asan.tests.zip"
                            }
                        ],
                        "repository": "",
                        "rev": "508aa8322f7c",
                        "who": "sendchange-unittest",
                        "when": 1400865601,
                        "number": 3912143,
                        "comments": "Backed out changeset d36b2edb017b (bug 1014523) for OSX bc1 bustage",
                        "project": "",
                        "at": "Fri 23 May 2014 10:20:01",
                        "branch": "fx-team-linux64-asan-opt-unittest",
                        "revlink": "",
                        "properties": [
                            [
                                "buildid",
                                "20140523100719",
                                "Change"
                            ],
                            [
                                "builduid",
                                "a9dc7ec667bf454b948da60a2932d62e",
                                "Change"
                            ],
                            [
                                "pgo_build",
                                "False",
                                "Change"
                            ]
                        ],
                        "revision": "508aa8322f7c"
                    }
                ],
                "revision": "508aa8322f7c"
            },
            "times": [
                "2014-05-23T17:22:17+0000",
                "2014-05-23T17:56:44+0000"
            ],
            "properties": [
                [
                    "basedir",
                    "/builds/slave/test",
                    "SetProperty Step"
                ],
                [
                    "branch",
                    "fx-team",
                    "Builder"
                ],
                [
                    "build_url",
                    "https://ftp-ssl.mozilla.org/pub/mozilla.org/firefox/tinderbox-builds/fx-team-linux64-asan/1400839639/firefox-32.0a1.en-US.linux-x86_64-asan.tar.bz2",
                    "SetProperty Step"
                ],
                [
                    "buildername",
                    "Ubuntu ASAN VM 12.04 x64 fx-team opt test mochitest-browser-chrome-1",
                    "Builder"
                ],
                [
                    "buildid",
                    "20140523100719",
                    "Change"
                ],
                [
                    "buildnumber",
                    4,
                    "Build"
                ],
                [
                    "builduid",
                    "a9dc7ec667bf454b948da60a2932d62e",
                    "Change"
                ],
                [
                    "master",
                    "http://buildbot-master113.srv.releng.use1.mozilla.com:8201/",
                    "Step"
                ],
                [
                    "pgo_build",
                    "False",
                    "Change"
                ],
                [
                    "platform",
                    "linux64-asan",
                    "Builder"
                ],
                [
                    "product",
                    "firefox",
                    "Builder"
                ],
                [
                    "project",
                    "",
                    "Build"
                ],
                [
                    "repo_path",
                    "integration/fx-team",
                    "Builder"
                ],
                [
                    "repository",
                    "",
                    "Build"
                ],
                [
                    "revision",
                    "508aa8322f7c",
                    "Build"
                ],
                [
                    "scheduler",
                    "tests-fx-team-ubuntu64-asan_vm-opt-unittest",
                    "Scheduler"
                ],
                [
                    "script_repo_revision",
                    "a5f3dd7b0dc7",
                    "SetProperty Step"
                ],
                [
                    "slavebuilddir",
                    "test",
                    "Builder"
                ],
                [
                    "slavename",
                    "tst-linux64-spot-033",
                    "BuildSlave"
                ],
                [
                    "stage_platform",
                    "linux64-asan",
                    "Builder"
                ]
            ]
        },
        "results": 0
    },
    "_meta": {
        "exchange": "org.mozilla.exchange.build",
        "serializer": "json",
        "master_name": "buildbot-master113.srv.releng.use1.mozilla.com:/builds/buildbot/tests1-linux64/master",
        "routing_key": "build.fx-team_ubuntu64-asan_vm_test-mochitest-browser-chrome-1.4.finished",
        "master_incarnation": "pid7447-boot1400593785",
        "message_id": 46429,
        "sent": "2014-05-23T10:56:53+01:00"
    }
}
</pre>


  </div>
</div>
{% endblock %}