{% extends 'base.html' %}

{% macro user_information(user) %}
    <div class="user" data-email="{{user.email}}">
        {% if user.queues %}
            {{ list_queues(user.queues) }}
        {% else %}
            <p>
                No queues for now!
            </p>
        {% endif %}
    </div>
{% endmacro %}

{% macro list_queues(queues) %}
<ul class="list-group queues">
    {% for queue in queues %}

        {% set fill_perc = (100 * queue.size / config.del_queue_size) | int %}
        {% set warning =  queue.size > config.warn_queue_size | int %}
        {% set bar_class = 'progress-bar-danger' if warning else '' %}

        <li class="list-group-item queue" data-queue-name="{{queue.name}}">
            {% if cur_user.admin or user == cur_user %}
                <span class="glyphicon glyphicon-remove delete"></span>
            {% endif %}
            <h4>
                {% if warning %}<span class="label label-danger">Warning</span>{% endif %}
                {{queue.name}} <small>{{queue.size}} messages</small>

            </h4>

            <div class="progress">
                <div class="progress-bar {{bar_class}}" role="progressbar" aria-valuenow="{{queue.size}}" aria-valuemin="0"
                     aria-valuemax="{{config.del_queue_size}}" style="width: {{fill_perc}}%;">
                    {% if fill_perc > 0 %} {{fill_perc}}% {% endif%}
                </div>
            </div>

        </li>
    {% endfor %}
</ul>
{% endmacro %}


{% block body %}

<a href="#" class="autoreload">
    <span class="glyphicon glyphicon-refresh"></span> Auto-reload
</a>

{% if cur_user.admin %}
    <h2>Users</h2>

    {% for user in users %}
        <h3 class="text-primary">
            {{user.username}} <small>{{user.email}}</small>
        </h3>
        {{ user_information(user) }}
    {% endfor %}

    {% if no_owner_queues %}
        <h3 class="text-primary">
            Queues with unknown owners
        </h3>
        {{ list_queues(no_owner_queues) }}
    {% endif %}

{% else %}
    <h2 class="text-primary">
        Profile <small>{{cur_user.username}}</small>
    </h2>
    <h3>Queues</h3>
    {{ user_information(cur_user) }}
{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}