{% extends 'base.html' %}

{% block body %}
<div id="message_info" class="col-md-12">  
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info">{{message}}</div>
    {% endfor %}
  {% elif error %}
    <div class="alert alert-danger">{{error}}</div>
  {% endif %}

  <h3>Pulse Users
    <span class="pull-right">
      <a href="register"><span class="glyphicon glyphicon-plus add"></span></a>
    </span>
  </h3>

  <ul class="list-group pulse-users">

    {% for pulse_user in cur_user.pulse_users %}
    <li class="list-group-item pulse-user"
        data-pulse-user-name="{{pulse_user.username}}">
      <form action="/update_info" method="post">
        <input type="hidden" name="pulse-user" value="{{pulse_user.username}}"/>
        <h4>
          {{pulse_user.username}}
          <span class="pull-right">
            <span class="glyphicon glyphicon-pencil edit"></span>
            <span class="glyphicon glyphicon-remove delete"></span>
          </span>
        </h4>

        <div class="pulse-user-details hidden">
          <strong>New password:</strong>
          <input name="new-password" type="password"
                 class="form-control"/>
          <br />
          <strong>New password verification:</strong>
          <input name="new-password-verification" type="password"
                 class="form-control"/>

          <br/>
          <input type="submit" class="form-control btn btn-primary"
                 value="Update information"/>
        </div>
      </form>
    </li>
  </form>
  {% endfor %}
  </ul>  
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}
