{% extends 'base.html' %}

{% block body %}
    <h2>Personal information <small>{{cur_user.username}}</small></h2>

    <form action="/update_info" method="post">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">{{message}}</div>
            {% endfor %}
        {% elif error %}
            <div class="alert alert-danger">{{error}}</div>
        {% endif %}

        <ul class="list-group">
            <li class="list-group-item">
                <strong>Username:</strong> {{cur_user.username}}
            </li>

            <li class="list-group-item">
                <strong>E-mail:</strong>
                <input name="email" type="email" class="form-control" value="{{cur_user.email}}"/>
            </li>

            <li class="list-group-item">
                <strong>Password:</strong>
                <input name="password" type="password" class="form-control"/>
                <br />
                <strong>New password <small>(optional)</small>:</strong>
                <input name="new-password" type="password" class="form-control"/>
            </li>

            <li class="list-group-item">
                <input type="submit" class="form-control btn btn-primary" value="Update information"/>
            </li>

        </ul>


    </form>


    <a href="#" class="autoreload">
        <span class="glyphicon glyphicon-refresh"></span> Auto-reload
    </a>

    <div id="queues-info">
        {% include 'queues.html' %}
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}