{% macro list_queues(queues) %}
<ul class="list-group queues">
  {% for queue in queues %}

    {% set fill_perc = (100 * queue.size / config.del_queue_size) | int %}
    {% set warning =  queue.size > config.warn_queue_size | int %}
    {% set bar_class = 'progress-bar-danger' if warning else '' %}

    <li class="list-group-item queue"
        data-queue-name="{{queue.name}}">
      <span class="pull-right">
        <span class="glyphicon glyphicon-remove delete"></span>
      </span>
      <h4>
        {% if warning %}
          <span class="label label-danger">Warning</span>
        {% endif %}
        {{queue.name}} <small>{{queue.size}} messages</small>
        {% if queue.durable %}
          <small><span class="label label-primary">Durable</span></small>
        {% endif %}
      </h4>

      <div class="progress">
        <div class="progress-bar {{bar_class}}" role="progressbar"
             aria-valuenow="{{queue.size}}" aria-valuemin="0"
             aria-valuemax="{{config.del_queue_size}}"
             style="width: {{fill_perc}}%;">
          {% if fill_perc > 0 %} {{fill_perc}}% {% endif%}
        </div>
      </div>

      <div class="notifications clearfix">
          <div class="clearfix">
              <h3 class="text-primary pull-left">Notifications:</h3>
              <ul class="emails">
                  {% for notification in queue.notifications %}
                  <li class="pull-left">
                      <span>{{ notification.address }}</span>
                      <button type="button" class="btn-primary close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </li>
                  {% endfor %}
              </ul>
          </div>
          <form>
              <input name="email" type="text" />
              <input name="queue" type="hidden" value="{{queue.id}}">
              <button class="btn btn-primary btn-sm" type="submit">Add</button>
          </form>
          <div class="message text-warning"></div>
      </div>

    </li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro user_information(user) %}
<div class="user" data-email="{{user.email.address}}">
  {% if user.pulse_users %}
    {% for pulse_user in user.pulse_users %}
      <h4>{{pulse_user.username}}</h4>
      {% if pulse_user.queues %}
        {{ list_queues(pulse_user.queues) }}
      {% else %}
        <p>
          No queues for now!
        </p>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>
      No Pulse users!
    </p>
  {% endif %}
</div>
{% endmacro %}


{% if cur_user.admin %}
  <h2>Users</h2>

  {% for user in users %}
    <h3 class="text-primary" data-email="{{user.email.address}}">
      {{user.email.address}}
    </h3>
    {{ user_information(user) }}
  {% endfor %}

  {% if no_owner_queues %}
    <h3 class="text-primary">Queues with unknown owners</h3>
    {{ list_queues(no_owner_queues) }}
  {% endif %}
{% else %}
  <h3>Queues</h3>
  {{ user_information(cur_user) }}
{% endif %}

