# Web app
flask_host = 'localhost'
flask_port = 5000
flask_secret_key = None # Should be generated randomly
flask_debug_mode = True

# Persona
persona_verifier = 'https://verifier.login.persona.org/verify'

# Mail
email_account = 'automation@mozilla.com'
email_password = None # Email's password goes here
email_from = 'Mozilla A-Team <auto-tools@mozilla.com>'

# Database
sqlalchemy_engine_url = 'mysql://root@localhost/pulseguardian'

# RabbitMQ
rabbit_host = 'localhost'
rabbit_management_port = 15672
rabbit_vhost = '/'
rabbit_user = 'guest'
rabbit_password = 'guest'

# PulseGuardian
warn_queue_size = 2000
del_queue_size = 8000
polling_interval = 5

# Logging
GUARDIAN_LOG_PATH = 'log_guardian.log'
MAX_LOG_SIZE = 20480
